<body class="bg-primary d-flex justify-content-center align-items-center vh-100">
    <div
      class="bg-white p-5 rounded-5 text-secondary shadow"
      style="width: 25rem"
    >
    <h1 class="text-center fs-1 fw-bolder" style="color: black;">Inicio de sesion</h1>
      <div class="input-group mt-4">
        <input
          class="form-control bg-light"
          type="text"
          placeholder="Usuario"
        />
      </div>
      <div class="input-group mt-1">
        <input
          class="form-control bg-light"
          type="password"
          placeholder="Contraseña"
        />
      </div>
      <a class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm" routerLink="/home">
        Iniciar Sesion
      </a>
    </div>
</body>